@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Nathan Conrad Mission 5";
}



<!--information about me-->


    <div class="header">
        <h1>Mission 5</h1>
        <p>Nate Conrad</p>
    </div>
    <img src="img/IV1A1698.jpg" height="400px" />
    <br /><br />
    <p>
        I hope to be able to become more adept at full stack programing, and to be able
        know how to use another programing language.  Also I hope to be able to become more familiar to building websites
        so that in the future I will be able to not only develop software or websites with pre-existing structure, but to be able
        to build my own website from the ground up.
    </p>
    <br />
    <p>Top 3 jobs I'm most interested in</p>
    <ul>
        <li>1.  Software Developer</li>
        <li>2.  Mobile App Developer</li>
        <li>3.  Cyber Security</li>
    </ul>



